html {
	font-family: sans-serif;
}

body {
  width: 40%;
  min-width: 840px;
  margin: 0 auto;
}

main{
	width: 800px;
	background-color: #FFB6C1;
	padding: 15px 20px;
	margin: 20px auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
h1,
p,
.form
{
	width: 100%;
	/* 设置盒子的宽度 */
	margin: 0 auto;
	/* 实现居中对齐 */
	align-content: center;
	color: #FFFFFF;
	margin: 5px auto;
}

/* .resultParas里面有 p 标签，设置的时候会受到上面 p 标签样式的影响 所以不用单独设置！！！ */

.form input[type="number"] {
	width: 200px;
}

.lastResult {
	color: white;
	padding:5px;
	margin: 5px auto;
}
